ShortMovie(Unity)/Assets/Fonts/Roboto-Medium[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
ShortMovie(Unity)/Assets/Fonts/NotoSansJP-Medium[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
